# JSON Parsing
+ Extract fields

In [20]:
import json
import pandas as pd
import numpy as np
import string

In [21]:
df3 = pd.read_json('../data/US_category_id.json')

ValueError: Expected object or value

In [23]:
import json

def category_name(path):
    with open(path) as json_file:  
        data = json.load(json_file)
    category_info_list=[]
    for row in data['items']:
        id_info=row['id']
        category_name=row['snippet']['title']
        categoty_info=(id_info ,category_name)
        category_info_list.append(categoty_info)
    return(dict(category_info_list))

In [24]:
category_name("../data/US_category_id.json")

{'1': 'Film & Animation',
 '2': 'Autos & Vehicles',
 '10': 'Music',
 '15': 'Pets & Animals',
 '17': 'Sports',
 '18': 'Short Movies',
 '19': 'Travel & Events',
 '20': 'Gaming',
 '21': 'Videoblogging',
 '22': 'People & Blogs',
 '23': 'Comedy',
 '24': 'Entertainment',
 '25': 'News & Politics',
 '26': 'Howto & Style',
 '27': 'Education',
 '28': 'Science & Technology',
 '29': 'Nonprofits & Activism',
 '30': 'Movies',
 '31': 'Anime/Animation',
 '32': 'Action/Adventure',
 '33': 'Classics',
 '34': 'Comedy',
 '35': 'Documentary',
 '36': 'Drama',
 '37': 'Family',
 '38': 'Foreign',
 '39': 'Horror',
 '40': 'Sci-Fi/Fantasy',
 '41': 'Thriller',
 '42': 'Shorts',
 '43': 'Shows',
 '44': 'Trailers'}

In [25]:
dict1 = category_name("../data/US_category_id.json")
print(dict1)

{'1': 'Film & Animation', '2': 'Autos & Vehicles', '10': 'Music', '15': 'Pets & Animals', '17': 'Sports', '18': 'Short Movies', '19': 'Travel & Events', '20': 'Gaming', '21': 'Videoblogging', '22': 'People & Blogs', '23': 'Comedy', '24': 'Entertainment', '25': 'News & Politics', '26': 'Howto & Style', '27': 'Education', '28': 'Science & Technology', '29': 'Nonprofits & Activism', '30': 'Movies', '31': 'Anime/Animation', '32': 'Action/Adventure', '33': 'Classics', '34': 'Comedy', '35': 'Documentary', '36': 'Drama', '37': 'Family', '38': 'Foreign', '39': 'Horror', '40': 'Sci-Fi/Fantasy', '41': 'Thriller', '42': 'Shorts', '43': 'Shows', '44': 'Trailers'}

In [26]:
label = ['categroy_id', 'categroy_title']

In [27]:
categroy_Key = {'1': ['1', 'Film & Animation'], 
                '2': ['2','Autos & Vehicles'],
                '3': ['10','Music'],
                '4': ['15','Pets & Animals'],
                '5': ['17','Sports'],
                '6': ['18','Short Movies'],
                '7': ['19','Travel & Events'],
                '8': ['20','Gaming'],
                '9': ['21','Videoblogging'],
                '10': ['22','People & Blogs'], 
                '11': ['23','Comedy'],
                '12': ['24','Entertainment'],
                '13': ['25','News & Politics'],
                '14': ['26','Howto & Style'],
                '15': ['27','Education'],
                '16': ['28','Science & Technology'],
                '17': ['29','Nonprofits & Activism'],
                '18': ['30','Movies'],
                '19': ['31','Anime/Animation'],
                '20': ['32','Action/Adventure'], 
                '21': ['33','Classics'], 
                '22': ['34','Comedy'],
                '23': ['35','Documentary'], 
                '24': ['36','Drama'],
                '25': ['37','Family'], 
                '26': ['38','Foreign'],
                '27': ['39','Horror'],
                '28': ['40','Sci-Fi/Fantasy'], 
                '29': ['41','Thriller'], 
                '30': ['42','Shorts'],
                '31': ['43','Shows'],
                '32': ['44','Trailers']}

In [28]:
df = pd.DataFrame()
def dict_convert_dataframe(categroy_Key,label,df):
    for d in categroy_Key.keys():
        data = [categroy_Key[d]] 
        label = ['categroy_id', 'categroy_title']
        df = df.append(pd.DataFrame(data,index=[d],columns=label))
        
    return df
print(dict_convert_dataframe(categroy_Key,label,df))

   categroy_id         categroy_title
1            1       Film & Animation
2            2       Autos & Vehicles
3           10                  Music
4           15         Pets & Animals
5           17                 Sports
6           18           Short Movies
7           19        Travel & Events
8           20                 Gaming
9           21          Videoblogging
10          22         People & Blogs
11          23                 Comedy
12          24          Entertainment
13          25        News & Politics
14          26          Howto & Style
15          27              Education
16          28   Science & Technology
17          29  Nonprofits & Activism
18          30                 Movies
19          31        Anime/Animation
20          32       Action/Adventure
21          33               Classics
22          34                 Comedy
23          35            Documentary
24          36                  Drama
25          37                 Family
26          38                Foreign
27          39                 Horror
28          40         Sci-Fi/Fantasy
29          41               Thriller
30          42                 Shorts
31          43                  Shows
32          44               Trailers

In [29]:
categroy = dict_convert_dataframe(categroy_Key,label,df)

In [30]:
categroy

   categroy_id         categroy_title
1            1       Film & Animation
2            2       Autos & Vehicles
3           10                  Music
4           15         Pets & Animals
5           17                 Sports
6           18           Short Movies
7           19        Travel & Events
8           20                 Gaming
9           21          Videoblogging
10          22         People & Blogs
11          23                 Comedy
12          24          Entertainment
13          25        News & Politics
14          26          Howto & Style
15          27              Education
16          28   Science & Technology
17          29  Nonprofits & Activism
18          30                 Movies
19          31        Anime/Animation
20          32       Action/Adventure
21          33               Classics
22          34                 Comedy
23          35            Documentary
24          36                  Drama
25          37                 Family
26          38                Foreign
27          39                 Horror
28          40         Sci-Fi/Fantasy
29          41               Thriller
30          42                 Shorts
31          43                  Shows
32          44               Trailers

In [31]:
outputpath = '../data/categroy.csv'
categroy.to_csv(outputpath,sep = ',', index = True , header = True)